Package: com.daeken.webglenabler
Name: webglenabler
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Enables WebGL
Maintainer: Cody Brocious (Daeken)
Author: Cody Brocious (Daeken)
Section: Tweaks
